<header>
  <h1>{{title}}</h1>
</header>


<div class="login-card">

  <form action='/login' method="get">
    <label for='user_name'>Username</label>
    <input type='text' name='user_name'></input>
    <input type='submit' value='Submit'></input>
  </form>


</div>

<a href="../signup">Sign Up</a>
